@font-face {
    font-family: 'caligra'; /*a name to be used later*/
    src: url('fonts/SCRIPTIN.ttf'); /*URL to font*/
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow-y: scroll;
    color: #000;
}
html, body, .content{
    min-height: 100vh;
}
body{
	font-family: arial;
	font-size: .9rem;
	margin: 0;
	background-image: url("../images/fondo.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: rgba(255,255,255,.8);
}
.content{
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.7);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.flex-column > section{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding-top: 4rem;
}
h1, h2, h3, h4, h5, p{
	color: rgba(255,255,255,.8) !important;
	text-align: justify;
   	text-align-last: justify;
	line-height: normal;
}
h1{
	font-size: 3.6rem;
}
.mmradioLetters > h1, .mmradioLetters > h5, .mmradioLetters > p{
	margin: auto;
	max-width: 380px;
}
.mmradioLetters > p{
	font-size: 1.25rem;
}
.pageContent > h1{
	text-transform: uppercase;
	font-size: 2.3rem;
	text-align: left;
   	text-align-last: left;
}
.pageContent > h1, .pageContent > h5{
	margin: auto;
	width: fit-content;
	width: -moz-fit-content;
}
.pageContent img{
	max-width: 100% !important;
}
.playButton{
   border-radius: 50%;
   box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .5);
   max-height: 378px;
   position: relative;
}
.centerButton{
	display: none;
	border-radius: 50%;
	width: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
}
.volumeButton{
	width: 42%;
	position: absolute;
	bottom: 12%
}
#wrapper{
	text-align:center;
	margin:0 auto;
	padding:0px;
}
#player{
	background-color: rgba(0, 0, 0, 0.5);
	padding:5px;
	box-sizing:border-box;
}
input[type="image"]{
	float:left;
	height:20px;
	margin-left:2px;
	margin-right:5px;
	margin-top:2px;
}
#vol_img{
	width:20px;
	height: 20px;
	margin-right: 5px;
}
footer{
	font-family: caligra;
}
footer h2{
	font-size: 3rem;
	white-space: nowrap;
}

.tech-slideshow {
  height: 200px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > h2 {
  width: 2526px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 12s linear infinite;
}
.tech-slideshow .mover-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 15s linear infinite;
}
.tech-slideshow:hover .mover-2 {
  opacity: 1;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}
