html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow-y: scroll;
    color: #000;
}
html,
body {
    height: 100%;
    min-height: 100%;
}
body { margin: 0; background-color: green;}
h1, h3{
   color: rgba(255,255,255,.5) !important;
}
.playButton{
   border-radius: 50%;
   box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .5);
   max-height: 740px;
}
#streamer{
   position: absolute;
}
