html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow-y: scroll;
    color: #000;
}
html, body, .content{
    min-height: 100vh;
	overflow-y: auto;
}
body{
	font-family: arial;
	font-size: .9rem;
	margin: 0;
	padding: 0;
	background-color: #f5f0df;
}
.home{
	background-image: url("../images/fondo.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: rgba(255,255,255,.9);
}

body a{
	color: #427850;
}
body:not(.home) header{
	background-image: url("../images/fondo.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	z-index: 999;
}
body header .navbar-dark .navbar-nav .nav-link{
	color: rgba(255,255,255,.9);
}
body header .pageContent h1{
	color: #CCC;
}
.content{
	margin: 0;
	padding: 0;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.flex-column > section{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding-top: 4rem;
}
.nav-link{
	font-weight: bold;
}

body.home h1, body.home h2, body.home h3, body.home h4, body.home h5, body.home p {
	color: rgba(255,255,255,.8) !important;
	text-align: justify;
	line-height: normal;
}
h1 big{
	padding: 0;
	margin: 0;
}
h1{
	color: #427850;
}
@media (max-width: 379px) {
	h1{
		font-size: 2.4rem;
	}
}
@media (min-width: 380px) {
	h1{
		font-size: 3.1rem;
	}
}
@media (min-width: 420px) {
	h1{
		font-size: 3.6rem;
	}
}
.mmradioLetters{
	margin: auto;
	min-width: 380px;
}
.pageContent{
	text-align: justify;
}
.pageContent > h1{
	text-transform: uppercase;
	text-align: left;
   	text-align-last: left;
}
@media (max-width: 379px) {
	.pageContent > h1{
		font-size: 1.7rem;
	}
}
@media (min-width: 380px) {
	.pageContent > h1{
		font-size: 2.3rem;
	}
}
.pageContent > h1, .pageContent > h5{
	margin: auto;
	width: fit-content;
	width: -moz-fit-content;
}
.pageContent img{
	max-width: 100% !important;
}
.playButton{
   border-radius: 50%;
   box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .5);
   max-height: 378px;
   position: relative;
}
.centerButton{
	display: none;
	border-radius: 50%;
	width: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
}
.volumeButton{
	width: 42%;
	position: absolute;
	bottom: 12%
}
#wrapper{
	text-align:center;
	margin:0 auto;
	padding:0px;
}
#player{
	background-color: rgba(0, 0, 0, 0.5);
	padding:5px;
	box-sizing:border-box;
}
input[type="image"]{
	float:left;
	height:20px;
	margin-left:2px;
	margin-right:5px;
	margin-top:2px;
}
#vol_img{
	width:20px;
	height: 20px;
	margin-right: 5px;
}

@import url('https://fonts.googleapis.com/css?family=Alegreya');
footer h2{
	font-weight: 400;
	font-style: italic;
	font-family: Alegreya;
	font-size: 3rem;
	white-space: nowrap;
}

.tech-slideshow {
  height: 100px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > h2 {
  width: 2293px;
  position: absolute;
  left: 0;
  transform: translate3d(0, 0, 0);
  text-align-last: justify;
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 10s linear infinite;
}
.tech-slideshow .mover-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 13s linear infinite;
}
.tech-slideshow:hover .mover-2 {
  opacity: 1;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}
@media (min-width: 768px) {
	.grid-item{
		min-height: 80px;
	}
}
.menu_logo.fa {
	font-size: 1.5rem;
}
.copyPaster {
	cursor: pointer;
}
.btn-primary{
	background-color: #427850;
}
