//TRANSITIONING
@mixin transition($time: .3s) {
	-webkit-transition: all $time;
	-moz-transition: all $time;
	-o-transition: all $time;
	transition: all $time;
}

@mixin trs-prop($time: .3s, $property: all) {
	-webkit-transition: $property $time cubic-bezier(0.22, 0.61, 0.25, 1.02);
	-moz-transition: $property $time cubic-bezier(0.22, 0.61, 0.25, 1.02);
	-o-transition: $property $time cubic-bezier(0.22, 0.61, 0.25, 1.02);
	transition: $property $time cubic-bezier(0.22, 0.61, 0.25, 1.02);
}
@mixin trs-delay($delay: .3s) {
	-webkit-transition-delay: $delay;
	-moz-transition-delay: $delay;
	-o-transition-delay: $delay;
	transition-delay: $delay;
}
@mixin trs-easing($easing: cubic-bezier(0.22, 0.61, 0.25, 1.02)) {
	-webkit-transition-timing-function: $easing;
	-moz-transition-timing-function: $easing;
	-o-transition-timing-function: $easing;
	transition-timing-function: $easing;
}


//POSITIONING
@mixin translate($left: 0%, $top: 0%) {
	transform: -webkit-translate($left, $top);
	transform: -moz-translate($left, $top);
	transform: -ms-translate($left, $top);
	transform: -o-translate($left, $top);
	transform: translate($left, $top);
}
@mixin translate-center() {
	left: 50%;
	top: 50%;
	transform: -webkit-translate(-50%, -50%);
	transform: -moz-translate(-50%, -50%);
	transform: -ms-translate(-50%, -50%);
	transform: -o-translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
@mixin scale($width: 1, $height: 1) {
	transform: -webkit-scale($width, $height);
	transform: -moz-scale($width, $height);
	transform: -ms-scale($width, $height);
	transform: -o-scale($width, $height);
	transform: scale($width, $height);
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin rotate($deg: 360deg) {
	transform: -webkit-rotate($deg);
	transform: -moz-rotate($deg);
	transform: -ms-rotate($deg);
	transform: -o-rotate($deg);
	transform: rotate($deg);
}

@mixin show-up($left: 0%, $top: 0%, $width: 1, $height: 1) {
	transform: -webkit-translate($left, $top) -webkit-scale($width, $height);
	transform: -moz-translate($left, $top)-moz-scale($width, $height);
	transform: -ms-translate($left, $top) -ms-scale($width, $height);
	transform: -o-translate($left, $top) -o-scale($width, $height);
	transform: translate($left, $top) scale($width, $height);
	-webkit-font-smoothing: subpixel-antialiased;
}

//Gradient
@mixin gradient($fromColor, $toColor, $posFrom: 0%, $posTo: 100%, $deg: 0deg) {
	background-color: $toColor; /* Fallback Color */
	background: -moz-linear-gradient($deg,  $fromColor $posFrom, $toColor $posTo); /* FF3.6+ */
	background-image: -webkit-gradient($deg, from($fromColor), to($toColor)); /* Saf4+, Chrome */
	background: -webkit-linear-gradient($deg,  $fromColor $posFrom,$toColor $posTo); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient($deg,  $fromColor $posFrom,$toColor $posTo); /* Opera 11.10+ */
	background: -ms-linear-gradient($deg,  $fromColor $posFrom,$toColor $posTo); /* IE10+ */
	background: linear-gradient($deg,  $fromColor $posFrom,$toColor $posTo); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}
@mixin gradientH($fromColor, $toColor) {
	background: $toColor; /* Old browsers */
	background: -moz-linear-gradient(left, $fromColor 0%, $toColor 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, $fromColor 0%, $toColor 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, $fromColor 0%, $toColor 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$fromColor', endColorstr='$toColor',GradientType=1 ); /* IE6-9 */
}
