.btn{
	font-weight: 300;
	border: 0;
	border-radius: 0;
	@include transition;
	margin-right: 5px;
	cursor: pointer !important;
	@media screen and (max-width: 767px){
		margin: 5px !important;
	}
	&:nth-last-child(1){
		margin-right: 0;
	}
	&-success{
		background-color: $c-admin-success;
		border: 1px solid $c-admin-success;
	}
	&-default{
		color: #fff;
		background-color: $c-admin-success;
		border: 1px solid $c-admin-success;
		&:hover,
		&:hover:active,
		&:active,
		&:focus {
			color: #fff;
			background-color: darken($c-admin-success, 5);
		}
	}
	&-danger{
		background-color: $c-admin-danger;
		border: 1px solid $c-admin-danger;
	}
	&-primary{
		min-width: 150px;
		text-transform: uppercase;
		.dark & {
			color: #000;
			background-color: $c-admin-alt-dark;
			border: 1px solid $c-admin-alt-dark;
			&:hover,
			&:hover:active,
			&:active,
			&:focus {
				background-color: darken($c-admin-alt-dark, 5);
			}
		}
		.light & {
			color: #000;
			background-color: $c-admin-alt-light;
			border: 1px solid $c-admin-alt-light;
			&:hover,
			&:hover:active,
			&:active,
			&:focus {
				background-color: darken($c-admin-alt-light, 5);
			}
		}
	}
	&-link{
		&, &:hover{
			.dark & {
				color: #fff;
			}
			.light & {
				color: #000;
			}
		}
	}
}
