.table-responsive{
	overflow: visible;
	overflow-x: scroll;
}
@media screen and (max-width: 767px){
	.table-responsive {
		border: 0;
	}
}

.box table.dataTable, .dataTable {
	// botones de acción --> edit, see (que no están dentro de un dropdown)
	border: 0;
	margin-top: 50px !important;
	margin-bottom: 30px !important;
	border-collapse: separate;
	.dark & {
		color: #fff;
	}
	.light & {
		color: #000;
	}
	&__input{
		display: inline-block;
		width: 37px;
		height: 37px;
		text-align: center;
		line-height: 37px;
		font-weight: 100;
		letter-spacing: 1px;
		vertical-align: middle;
		outline: none;
		border: 0;
		.dark & {
			color: #fff;
			background-color: $c-admin1-dark;
		}
		.light & {
			color: #000;
			background-color: $c-admin1-light;
		}
	}
	.btn{
		padding: 5px;
		font-weight: 100;
		letter-spacing: 1px;
		vertical-align: middle;
		@include transition;
		&,
		&:hover,
		&:focus,
		&:active{
			.dark & {
				color: #fff;
			}
			.light & {
				color: #000;
			}
		}
		&,
		&:hover,
		&:focus,
		&:active{
			.dark & {
				background-color: $c-admin2-dark;
				border: 2px solid $c-admin3-dark;

			}
			.light & {
				background-color: $c-admin3-light;
				border: 2px solid $c-admin2-light;
			}
		}
	}
	thead{
		.sorting:after,
		.sorting_asc:after,
		.sorting_desc:after,
		.sorting_asc_disabled:after,
		.sorting_desc_disabled:after{
			position: static;
			display: inline-block;
			font-size: 18px;
		    line-height: 30px;
			vertical-align: bottom;
			margin-left: 10px;
			font-family: FontAwesome;
		}
		.sorting:after{
			content: "\f07d";
		}
		.sorting_asc:after,
		.sorting_asc_disabled:after{
			content: "\f106";
		}
		.sorting_desc:after,
		.sorting_desc_disabled:after{
			content: "\f107";
		}
		.sorting_asc:after,
		.sorting_desc:after{
			opacity: 1;
		}
		.sorting:after,
		.sorting_desc_disabled:after,
		.sorting_asc_disabled:after{
			opacity: 0.5;
		}
		.sorting:after{
			font-size: 13px;
		}
	}

	&.table > thead > tr > th,
	&.table > thead > tr > td{
		font-weight: 100;
		letter-spacing: 1px;
		border: 0;
		.dark & {
			border-bottom: 4px solid $c-admin1-dark;
		}
		.light & {
			border-bottom: 4px solid $c-admin1-light;
		}
		text-transform: uppercase;
	}
	&.table > tbody > tr > th,
	&.table > tbody > tr > td,
	&.table > tfoot > tr > th,
	&.table > tfoot > tr > td{
		min-width: 80px;
		font-weight: 100;
		letter-spacing: 1px;
    	padding: 4px 4px 2px 8px;
		height: 40px;
		line-height: 36px;
		position: relative;
		@include transition;
		border: 0;
		.dark & {
			border-top: 6px solid $c-admin2-dark;
			background-color: $c-admin1-dark;
		}
		.light & {
			border-top: 6px solid $c-admin2-light;
			background-color: $c-admin1-light;
		}
		&:nth-last-child(1){
			text-align: right;
		}
	}
	&.table > tfoot {
		display: none;
	}
	&.table > tbody > tr:hover > th,
	&.table > tbody > tr:hover > td,
	&.table > tfoot > tr:hover > th,
	&.table > tfoot > tr:hover > td{
		.dark & {
			background-color: darken($c-admin2-dark, 10);
		}
		.light & {
			background-color: lighten($c-admin1-light, 10);
		}
	}
}
.dataTables_length{
	.label{
		font-weight: 100;
		letter-spacing: 1px;
	}
	.form-control{
		padding: 10px 6px;
		margin: 0 10px;
		width: 70px;
		height: 35px;
		border: 0px !important;
		-webkit-border-radius: 0px;
	  	border-radius: 0px;
		.dark & {
			color: #fff;
			outline: 2px solid $c-admin3-dark;
			background-color: $c-admin3-dark;
			box-shadow: 0px 0px 0px 2px $c-admin3-dark;
			&:focus{
				outline: 2px solid #34495E;
			}
		}
		.light & {
			color: #000;
			outline: 2px solid $c-admin3-light;
			background-color: $c-admin3-light;
			box-shadow: 0px 0px 0px 2px $c-admin3-light;
			&:focus{
				outline: 2px solid $c-admin3-light;
			}
		}
	}
}
.dataTables_filter{
	label{
		position: relative;
		.dark & {
			color: rgba(255,255,255,0.4);
		}
		.light & {
			color: rgba(0,0,0,0.4);
		}
		font-weight: 100 !important;
		letter-spacing: 1px;
		&:after{
			position: absolute;
			right: 5px;
			content: "\f002";
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-size: 14px;
		}
		&:after{
			.dark & {
				color: rgba(255,255,255,1);
			}
			.light & {
				color: rgba(0,0,0,1);
			}
		}
	}
	input.form-control{
		padding-right: 20px;
		width: 200px !important;
	    box-shadow: none;
		border: 0;
		border-radius: 0;
		background-color: transparent;
		.dark & {
			border-bottom: 1px solid $c-admin1-dark;
			color: rgba(255,255,255,1);
		}
		.light & {
			border-bottom: 1px solid $c-admin1-light;
			color: rgba(0,0,0,1);
		}
	}
}
.dataTables_paginate{
	.pagination{
		li{
			a, span{
				padding: 12px 8px;
				font-weight: 100;
				letter-spacing: 1px;
				border-radius: 0px;
				.dark & {
					color: #fff;
					border: 1px solid $c-admin1-dark;
					background-color: $c-admin2-dark;
				}
				.light & {
					color: rgba(0,0,0,1);
					border: 1px solid $c-admin-alt-light;
					background-color: $c-admin2-light;
				}
				&,
				&:focus{
					outline: 0;
				}
			}
			&.active{
				a, span{
					background-color: transparent;
				}
			}
			&.previous,
			&.next{
				a,
				a.active{
					background-color: transparent;
					border-color: transparent;
				}
			}
			&.disabled{
				a,
				a:hover{
					.dark & {
						color: rgba(#fff, 0.2);
					}
					.light & {
						color: rgba(0,0,0,0.2);
					}
				}
			}
		}
	}
}
