//Handcrafter by MMRadio
footer.main-footer{
	// display: none;
	position: relative;
	border: 0;
	&:after{
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: 9;
	}
	.dark &:after{
		background-color: $c-admin1-dark;
	}
	.light &:after{
		background-color: $c-admin2-light;
	}
}

body{
	font-family: $font-text;
	&.dark{
		color: #fff;
		background-color: $c-admin1-dark;
	}
	&.light{
		color: #000;
		background-color: $c-admin1-light;
	}
	font-weight: 300;
}

.content{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
	@include transition(0.5s);
	@include trs-delay(0.3s);
	@include trs-easing(ease-out);
	opacity: 0;
	@include translate(0, 15px);
	&.animated{
		opacity: 1;
		@include translate(0, 0);
	}
	@media screen and (min-width: 768px){
		padding-top: 50px;
		padding-bottom: 50px;
		padding-right: 50px;
		padding-left: 50px;
	}
}
.content-header {
    position: relative;
    padding: 25px 25px 0 25px;
	>.breadcrumb>li>a,
	>.breadcrumb>li.active {
	    color: #fff;
		.dark & {
			color: #fff;
		}
		.light & {
			color: #000;
		}
	}
	>.breadcrumb{
		right: 20px;
		>li.active {
			.dark & {
				border-bottom: 1px solid #fff;
			}
			.light & {
				border-bottom: 1px solid #000;
			}
	    	margin-left: 20px;
			position: relative;
			&:before{
				position: absolute;
				right: 100%;
			}
		}
		background-color: transparent;
	}
	> h1 > small{
		margin-left: 15px;
		.dark & {
			color: rgba(#fff,0.6);
		}
		.light & {
			color: rgba(#000,0.6);
		}
	}
}
//Panel used as content
.content-wrapper, .right-side, .wrapper {
	.dark & {
		background-color: $c-admin1-dark;
		color: #fff;
	}
	.light & {
		color: #000;
		background-color: $c-admin3-light;
	}
}


//User Panel{
.user-panel{
	.image{
		display: none;
	}
	.info{
		font-size: 16px;
		position: static;
		padding: 5px;
		p{
			margin-bottom: 0;
		}
		a{
		   display: none;
	   }
	}
}

//loading bar
.pace{
	.pace-progress {
	  .dark & {
		  background-color: $c-admin-alt-dark;
	  }
	  .light & {
		  background-color: $c-admin-alt-light;
	  }
  }
}


//Reset input background
input,
input.form-control,
input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:first-line,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
    border: 0;
	.dark & {
		background-color: $c-admin3-dark;
		color: #fff!important;
		box-shadow: inset 0 0 0 9999px $c-admin3-dark;
	}
	.light & {
		background-color: $c-admin3-light;
		color: #000!important;
		box-shadow: inset 0 0 0 9999px $c-admin3-light;
	}
}
input[type="password"]{
	letter-spacing: 5px;
}
input[type="radio"],
input[type="checkbox"]{
	box-shadow: none;
}

.dropdown-menu{
	background-color: transparent;
	border-radius: 0;
	border: 0;
	padding: 0;
	>li, >li.active{
		.dark & {
			background-color: $c-admin2-dark;
			border: 2px solid $c-admin3-dark;
			color: #fff;
		}
		.light & {
			color: #000;
			background-color: $c-admin3-light;
			border: 2px solid $c-admin2-light;
		}
		margin-bottom: 2px;
		>a, >a.active{
			.dark &,
			.dark &:hover {
				background-color: transparent;
				color: #fff;
			}
			.light &,
			.light &:hover {
				color: #000;
				background-color: transparent;
			}
			&:hover{
				text-decoration: underline;
			}
		}
	}
}


//VIEW SOURCE CODE - ckEditor
.cke_source{
	color: #555;
}
.help-block{
	color: rgba(255,255,255,0.5);
}


//RANGE DATEPICKER
.daterangepicker select,
.daterangepicker table{
	color: #000;
}
