.wrapper, .main-sidebar, .left-side {
	font-family: $font-display;
	.dark & {
		color: #fff;
		background-color: $c-admin1-dark;
	}
	.light & {
		color: #000;
		background-color: $c-admin2-light;
	}
}
.sidebar{
	@include transition(0.5s);
	@include trs-delay(0.5s);
	opacity: 0;
	.user-panel > .info{
		.dark & {
			color: #fff;
		}
		.light & {
			color: #000;
		}
	}
	&.animated{
		opacity: 1;
	}
	&-menu{
		> li{
			&.header{
				.dark & {
					color: $c-admin3-dark;
				}
				.light & {
					color: $c-admin3-light;
				}
			}
			> a{
				border-left: 2px solid transparent;
			}
			a{
				.dark & {
					color: rgba(#fff,0.6);
				}
				.light &{
					color: rgba(#000, 0.6);
				}
				.dark &:hover {
					background-color: $c-admin3-dark;
					color: #fff;
					border-color: $c-admin-alt-dark;
				}
				.light &:hover {
					background-color: $c-admin3-light;
					color: #000;
					border-color: $c-admin-alt-light;
				}
				&:hover{
				}
			}
			> .treeview-menu{
				padding-left: 10px;
				padding-right: 10px;
				.dark &{
					background: transparent;
					border-bottom: 1px solid rgba(255,255,255,0.4);
				}
				.light &{
					background: transparent;
					border-bottom: 1px solid rgba(0,0,0,0.4);
				}
				li{
					.dark & {
						border-bottom: 1px solid rgba(#fff,0.2);
					}
					.light & {
						border-bottom: 1px solid rgba(#000,0.2);
					}
					&:nth-last-child(1){
						border-bottom: 0;
					}
					a{
					    padding: 8px 8px 8px 15px;
					}
					.dark &.active a{
						color: #fff;
						text-decoration: underline;
					}
					.light &.active a{
						color: #000;
						text-decoration: underline;
					}
				}
			}
		}
		> li.active{
			> a{
				.dark & {
					background-color: $c-admin3-dark;
					color: #fff;
					border-color: $c-admin-alt-dark;
				}
				.light & {
					background-color: $c-admin1-light;
					color: #000;
					border-color: $c-admin-alt-light;
				}
			}
		}
	}
}
