// Typography
$font-display: 		'Monserrat', Helvetica, Arial, sans-serif;
$font-text:	    	'Open Sans', sans-serif;


$c-admin1-dark: 			#242D38;
$c-admin2-dark: 			#2C3E50;
$c-admin3-dark: 			#34495E;
$c-admin-alt-dark: 			#F8D053;

$c-admin1-light: 			#B0BEC5;
$c-admin2-light: 			#ECEFF1;
$c-admin3-light: 			#ffffff;
$c-admin-alt-light: 		#F8D053;

$c-admin-success:	#47B04B;
$c-admin-danger:	#F1514B;



// // Body
// $body-bg: #f5f8fa;
//
//
// // Brands
// $brand-primary: #3097D1;
// $brand-info: #8eb4cb;
// $brand-success: #2ab27b;
// $brand-warning: #cbb956;
// $brand-danger: #bf5329;
//
// // Typography
// $icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
// $font-family-sans-serif: "Raleway", sans-serif;
// $font-size-base: 14px;
// $line-height-base: 1.6;
// $text-color: #636b6f;
//
// // Navbar
// $navbar-default-bg: #fff;
//
// // Buttons
// $btn-default-color: $text-color;
//
// // Inputs
// $input-border: lighten($text-color, 40%);
// $input-border-focus: lighten($brand-primary, 25%);
// $input-color-placeholder: lighten($text-color, 30%);
//
// // Panels
// $panel-default-heading-bg: #fff;
